<main class="container">
    <h3>Escolha o Login</h3>
    <input type="file" hidden #input>

    <div class="users">
        <img src="" alt="">    
        <span>users</span>
        <button (click)="input.click()">IM</button>
    </div>
    <div class="users">
        <img src="" alt="">    
        <span>users</span>
        <button (click)="input.click()">IM</button>
    </div>
    <div class="users">
        <img src="" alt="">    
        <span>users</span>
        <button (click)="input.click()">IM</button>
    </div>
</main>